node_modules/ 
dist/ 
release/ 
android/ 
*.js.map 
*.apk 
*.aab

encode.txt
gen.js
gen3.js
gen_icons.js
gen_py.py
close.txt
test.html
test.png
docs/css.b64  
docs/test.txt  
_b.js  
_hw.js  
_test.txt  
